.container {
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.buttons {
    display: flex; 
    margin-left: 44%;
    align-items: center; 
    gap: 10px;
}

button {
    background-color: black;
    color: white;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border: none;
}

#nao {
    margin-left: 150px;
    position: absolute;
}

#mensagem{
    font-size: 25px;
    color: red;
}